@model IEnumerable<MVC_ESTILOS.Models.usuario>

@{
    ViewBag.Title = "Index";
}
<h2>Usuarios</h2>
<div class="col-lg-12 table-responsive" style="margin-top:10px;">
    <table class="table table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passw)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.localidad)
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Detalles
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.id }, new { @class = "btn btn-warning text-white" })
        </td>
        <td>
            @Html.ActionLink("Detalles", "Detalles", new { id = item.id }, new { @class = "btn btn-primary text-white" })
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id }, new { @class = "btn btn-danger text-white" })
        </td>
    </tr>
        }

    </table>
</div>
