@model IEnumerable<MVC_ESTILOS.Models.factura>

@{
    ViewBag.Title = "Mostrar Factura";
}

<h2>Mostrar</h2>
<div class="btn-group" style="margin:10px auto auto 32em;">
    <a href="~/Tienda/NuevoCategoria" class="btn btn-info">
        <img src="../../Image/lista.png" /><strong> Agregar Categoria</strong>
    </a>
    <a href="~/Tienda/Nuevo" class="btn btn-success">
        <img src="../../Image/agregar-usuario.png" /><strong> Agregar usuario</strong>
    </a>
    <a href="~/Tienda/NuevoProducto" class="btn btn-warning text-white">
        <img src="../../Image/agregar-producto.png" /><strong> Agregar Producto</strong>
    </a>
</div>
<div class="col-lg-12 table-responsive" style="margin-top:10px;">
    <table class="table table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_carrito)
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Detalles
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_carrito)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarCategoria", new { id = item.id }, new { @class = "btn btn-warning text-white" })
        </td>
        <td>
            @Html.ActionLink("Detalles", "DetallesCategoria", new { id = item.id }, new { @class = "btn btn-primary text-white" })
        </td>
        <td>
            @Html.ActionLink("Eliminar", "EliminarCategoria", new { id = item.id }, new { @class = "btn btn-danger text-white" })
        </td>
    </tr>
        }

    </table>
</div>

