@model IEnumerable<MVC_ESTILOS.Models.producto>

@{
    ViewBag.Title = "Mostrar Producto";
}

<div class="col-lg-12 table-responsive" style="margin-top:10px;">
    <h2>Productos</h2>
    <table class="table table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Número
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Existentes
                </th>
                <th>
                    Detalles
                </th>
                <th>
                    Agregar
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.existentes)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "DetallesProducto", new { id = item.id }, new { @class = "btn btn-success text-white" })
                </td>
                <td>
                    @Html.ActionLink("Agregar al carro", "NuevoCarrito", new { id = item.id }, new { @class = "btn btn-info text-white" })
                </td>
            </tr>
        }

    </table>
</div>
